VITE_FIREBASE_API_KEY="AIzaSyCrFTw2VWrqjh6sPtVPd9IOCTi7e8CAh9o",
VITE_FIREBASE_AUTH_DOMAIN="campusxr-9444e.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="campusxr-9444e",
VITE_FIREBASE_STORAGE_BUCKET="campusxr-9444e.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID= "534478972254",
VITE_FIREBASE_APP_ID="1:534478972254:web:dbdd75636ad267cfa2dbcf",
VITE_FIREBASE_MEASUREMENT_ID="G-3D19RKF2J4"